{% extends "base.html.twig" %}

{% block title %}

    Page des paris

{% endblock %}

{% block body %}


        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Pariez, Gagnez</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form_label(form.equipe1, "Equipe No 1") }}
                                    {{ form_widget(form.equipe1) }}
                                    {{ form_errors(form.equipe1) }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    {{ form_label(form.equipe2, "Equipe No 2") }}
                                    {{ form_widget(form.equipe2) }}
                                    {{ form_errors(form.equipe2) }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-2">
                                <div class="form-group">
                                    {{ form_label(form.score_equipe1, "Score 1") }}
                                    {{ form_widget(form.score_equipe1) }}
                                    {{ form_errors(form.score_equipe1) }}
                                </div>
                            </div>
                            <div class=" col-xs-2">
                                <div class="form-group">
                                    {{ form_label(form.score_equipe2, "Score 2") }}
                                    {{ form_widget(form.score_equipe2) }}
                                    {{ form_errors(form.score_equipe2) }}
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary center-block">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Valider
                        </button>
                    </div>
                </div>

            </div>
        </div>
    {{ form_end(form) }}

    </div>

{% endblock %}