{% block body %}
<br><br>
<div class="footer navbar navbar-default navbar-fixed-bottom">
    <div class="footer-container">
        <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
        <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
        <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
        <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
        <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
        <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
        <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
        <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
    </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset("lib/jquery/jquery.browser.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("lib/DataTables/media/js/jquery.dataTables.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("lib/bootstrap-3.3.7-dist/js/bootstrap.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("lib/DataTables/media/js/dataTables.bootstrap.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("lib/bootstrap-3.3.7-dist/js/bootstrap.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("lib/sweetalert/es6-promise.auto.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("lib/sweetalert/sweetalert2.all.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("js/livescore.js") }}" ></script>
    <script>
        $("#livescore").DataTable({
            pagingType : "simple_numbers",
            lengthMenu : [[10,-1], ["10"," Voir Tout"]],
            pageLenght : 10,
            language : {
                url : "{{ asset("lib/DataTables/media/French.json") }}"
            }
        });
    </script>
{% endblock %}






