{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link href="{{ asset("lib/bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" type="text/css" rel="stylesheet" >
    <link href="{{ asset("lib/DataTables/media/css/dataTables.bootstrap.min.css") }}" type="text/css" rel="stylesheet">
    <link href="{{ asset("lib/sweetalert/sweetalert2.min.css") }}" rel="stylesheet">
    <link href="{{ asset("lib/font-awesome-4.7.0/css/font-awesome.min.css") }}" rel="stylesheet">
    <script type="text/javascript" src="{{ asset("lib/jquery/jquery.js") }}" ></script>

    <link rel="icon" type="image/png" href="{{ asset('img/cup.jpg') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/livescore.css') }}" >

{% endblock %}
<!------ Include the above in your HEAD tag ---------->

{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i>
                Live Score - Football</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/livescore">Matchs</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Team 1</a></li>
                    <li><a href="#">Team 2</a></li>
                    <li><a href="#">Team 3</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li><a href="#">{{ app.user.username }}</a></li>
                <a href="{{ path('security_logout')}}" class="btn navbar-btn btn-default btn-sm"> <span class="glyphicon glyphicon-log-out"></span> Déconnexion  </a>
            {% else %}
                <a href="{{ path('security_login')}}" class="btn navbar-btn btn-default"><span class="glyphicon glyphicon-log-out"></span> Connexion</a>
            {% endif %}
        </ul>

    </div>
</nav>

{% endblock %}