{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" >
    <div class="row" id="login-box" style="margin-top:5%">
    <div class="col-md-8 col-md-offset-2 ">
        <div class="page-header">
            <h1 class="logo"> Livescore <small>Join us</small></h1>
        </div>
        <div class="panel panel-default" style="box-shadow: 0 5px 15px rgba(0,0,0,.5);">
            <div class="panel-body">
                <h4 class="content-box-header content-box-header-alt bg-default">
                                           <span class="header-wrapper">
                                               <legend><i class="fa fa-futbol-o" aria-hidden="true"></i> Création de compte!</legend><small></small>
                                           </span>
                </h4><br/>

                {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_label(form.fullName) }}
                        <br>
                        {{ form_widget(form.fullName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.username) }}
                        <br>
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        <br>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.first) }}
                        <br>
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second) }}
                        <br>
                        {{ form_widget(form.password.second) }}
                    </div>

                <button type="submit" id="loginBtn" class="btn  btn-info btn-lg btn-block" role="button">S'inscrire</button><br/>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}