{% extends 'base.html.twig' %}

{% block title %} Football Livescore {% endblock %}
{% block body %}
    <br><br>
    <div class="container">
        <br><br><div class="row">
        <table id="livescore" class="table table-striped">
            <thead>
                <tr class="row-name">
                    <th>#</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Live</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% for equipes in results %}
            {% for equipe,match in equipes %}
                <tr row-content>
                    <td class="text-center">{{ i }}</td>
                    <td class="text-center">{{ match.date}}</td>
                    <td class="text-center">{{ (match.live == true ) ? '<span class="label label-success">Non</span>' : '<span class="label label-danger">Non</span>' }} </td>
                    <td class="text-center">{{ equipe }}</td>
                    <td class="text-center">  {{ match.score.0 }} - {{ match.score.1 }} </td>
                    <td class="text-center">{{ match.vs }}</td>
                    <td class="text-center">
                        <a style="margin-right: 15px;" href="{{ path('app_pari_new', {'equipe1':equipe, 'equipe2':match.vs }) }}" class="btn btn-top btn-primary btn-success pull-right">
                            <span class="glyphicon glyphicon-eur"></span> &nbsp Parier
                        </a>
                    </td>
                </tr>
            {% endfor %}
                {%  set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}