{% extends "base.html.twig" %}

{% block title %}

    User

{% endblock %}

{% block body %}

    <div>
        Bienvenue dans votre page !<br />
        Voici vos paris :
    </div>

    <br /><br /><table>
    {% for pari in paris %}
        <tr>
            <td class="text-center">{{ pari.equipe1 }} - {{ pari.equipe2 }}</td>
            <td class="text-center">{{ pari.scoreequipe1 }} - {{ pari.scoreequipe2 }}</td>
            <td class="text-center"><a href="{{ path('app_pari_edit', {'idpari': pari.id}) }}">Modifier ce pari</a> </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}